<form action="{% spaceless %}
{% if register.id %}
{{ path('register_update', { 'id': register.id }) }}
{% else %}
{{ path('register_create') }}
{% endif %}
{% endspaceless %}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    {{ form_row(form.url) }}

    <div class="embedded">
        {{ form_label(form.Accounts) }}
        {{ form_errors(form.Accounts) }}
        <div>
            {% for account in form.Accounts %}
            <div>
                {{ form_row(account.username) }}
                {{ form_row(account.password) }}
            </div>
            {% endfor %}
        </div>
    </div>

    {{ form_rest(form) }}
    <input type="submit" class="symfony-button-grey" value="{% spaceless %}
{% if register.id %}
Update
{% else %}
Create
{% endif %}
{% endspaceless %}">
</form>