{% extends 'ToxSatelliteBundle:Satellite:satellite.html.twig' %}

{% block satellite %}
<h1>Satellites</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('satellite_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('satellite_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('satellite_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('satellite_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
        {% endblock %}