<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" type="text/css" media="all"/>
    {% endblock %}
    <title>{% block title %}Toxic{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<div id="symfony-wrapper">
    <div id="symfony-header">
        <a href="{{ path('_welcome') }}">
            <img src="{{ asset('bundles/acmedemo/images/logo.gif') }}" alt="Symfony">
        </a>
    </div>

    {% if app.session.flash('notice') %}
    <div class="flash-message">
        <em>Notice</em>: {{ app.session.flash('notice') }}
    </div>
    {% endif %}

    {% block content_header %}
    <ul id="menu">
        {% block content_header_more %}
        <li><a href="{{ path('domen') }}">Domens</a></li>
        <li><a href="{{ path('register') }}">Registers</a></li>
        <li><a href="{{ path('host') }}">Hosts</a></li>
        <li><a href="{{ path('satellite') }}">Satellites</a></li>
        <li><a href="{{ path('source') }}">Sources</a></li>
        <li><a href="{{ path('regexp_new') }}">Check regexp</a></li>
        {% endblock %}
    </ul>

    <div style="clear: both"></div>
    {% endblock %}

    <div class="symfony-content">
        {% block content %}
        {% endblock %}
    </div>

</div>
</body>
</html>

