{% extends 'ToxPlaceBundle:Host:host.html.twig' %}

{% block host %}
<h1>Host</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('host') }}">←</a>
    </li>
    <li>
        <a href="{{ path('host_edit', { 'id': host.id }) }}">
            Edit
        </a>
    </li>
</ul>
<h4><a class="ext_url" href="http://{{ host.url }}">{{ host.url }}</a></h4>
<div class="accounts">
    Accounts:
    <ul>
        {% for account in host.Accounts %}
        <li>{{ account.username}} - {{ account.password}}</li>
        {% endfor %}
    </ul>
</div>
        {% endblock %}