{% extends 'ToxParserBundle::parser.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/toxparser/css/pygments.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bundles/toxparser/css/form.css') }}" type="text/css" media="all"/>
{% endblock%}

{% block content %}
{{ parent() }}
<h1>Regexp checker</h1>

<form action="{{ path('regexp_check') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}


    {{ form_rest(form) }}
    <input type="submit" class="symfony-button-grey" value="Check">
</form>

        {% endblock %}