{% extends 'ToxSatelliteBundle:Post:post.html.twig' %}

{% block post %}

<h1>{{ post.ispage?'Page':'Post' }}</h1>
<ul class="record_actions">
    <li>
        <a href="{{ path('post') }}">←</a>
    </li>
    <li>
        <a href="{{ path('post_edit', { 'id': post.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('post_delete', { 'id': post.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
<div>
    <h3><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</a></h3>
    <div>{{ post.body | raw }}</div>

</div>

        {% endblock %}