<form action="{% spaceless %}
{% if source.id %}
{{ path('source_update', { 'id': source.id }) }}
{% else %}
{{ path('source_create') }}
{% endif %}
{% endspaceless %}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.url) }}
    {{ form_row(form.Theme) }}
    {{ form_row(form.Schedule) }}
    {{ form_row(form.Type) }}

    <div class="embedded">
        {{ form_label(form.Rules) }}
        {{ form_errors(form.Rules) }}
        <div>
            {% for rule in form.Rules %}
            <div>
                {{ form_errors(rule.pattern) }}
                <label class="required"
                       for="{{ rule.pattern.vars.form.vars.full_name }}">{{ rule.vars.value.Type | capitalize}}</label>
                {{ form_widget(rule.pattern) }}
                {{ form_widget(rule.Type) }}
                {{ form_widget(rule.Source) }}
                {{ form_widget(rule.id) }}
            </div>
            {% endfor %}
        </div>
    </div>

    {{ form_rest(form) }}
    <input type="submit" class="symfony-button-grey" value="{% spaceless %}
{% if source.id %}
Update
{% else %}
Create
{% endif %}
{% endspaceless %}">
</form>