<form action="{{ path('source_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.url) }}
    {{ form_row(form.Theme) }}
    {{ form_row(form.Schedule) }}
    {{ form_row(form.Type) }}

    <div class="embedded">
        {{ form_label(form.Rules) }}
        {{ form_errors(form.Rules) }}
        <div>
            {#{% for rule in form.Rules %}#}
            {#<div>#}
                {#{{ form_errors(rule.pattern) }}#}
                {#<label class="required" for="{{ rule.pattern.vars.form.vars.full_name }}">{{ rule.vars.value.Type | capitalize}}</label>#}
                {#{{ form_widget(rule.pattern) }}#}
                {#{{ form_widget(rule.Type) }}#}

            {#</div>#}
            {#{% endfor %}#}
            {% for address in form.Rules %}
            <div id="{{ 'address%sDivId'|format(loop.index) }}" class="userAddressItem">
                <h5> Address #{{ loop.index }}</h5>

                {{ form_errors(address) }}
                {{ form_widget(address) }}
            </div>
            {% endfor %}
            {% for address in form.Rules %}
            <div id="{{ 'address%sDivId'|format(loop.index) }}" class="userAddressItem">
                <h5> Address #{{ loop.index }}</h5>

                {{ form_errors(address) }}
                {{ form_widget(address) }}
            </div>
            {% endfor %}
        </div>
    </div>

    {{ form_rest(form) }}
    <input type="submit" class="symfony-button-grey" value="Create">
</form>